@model RetailPortal.Models.GMQuotations

<div class="card mt-4">
    <div class="card-header">Sponsor Details</div>
    <div class="card-body">
        <div class="form-group">
            <label>Sponsor Name:</label>
            <p>@Model.ParticipantName</p>
        </div>
        <div class="form-group">
            <label>Sponsor Email:</label>
            <p>@Model.ParticipantEmail</p>
        </div>
        <div class="form-group">
            <label>Sponsor Phone:</label>
            <p>@Model.ParticipantTelephone</p>
        </div>
        <div class="form-group">
            <label>Sponsor Address:</label>
            <p>@Model.ParticipantAddress</p>
        </div>
        <div class="form-group">
            <label>Sponsor City:</label>
            <p>@Model.ParticipantCity</p>
        </div>
        <div class="form-group">
            <label>Sponsor Type:</label>
            <p>@Model.SponsorType</p>
        </div>
        <div class="form-group">
            <label>Region:</label>
            <p>@Model.Region</p>
        </div>
        <div class="form-group">
            <label>Sub Region:</label>
            <p>@Model.SubRegion</p>
        </div>
    </div>
</div>
