@{
    ViewData["Title"] = "Sponsor and Policy Details";
    var gmQuotationsModel = (GMQuotations)Model;
    int? agent_id = ViewBag.AgentId as int?;

}
@* <style>
    .welcome-message {
        text-align: right;
        margin-top: 10px;
        color: #555;
    }

    .card-header {
        background-color: #007bff;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .card-body {
        background-color: #f9f9f9;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .next-button {
        margin-right: 10px;
    }
</style> *@

<div class="card mt-5">
    <!-- Welcome Message -->
    @* <div class="row">
    <div class="col-md-12">
    <p class="welcome-message">Welcome, @ViewBag.SponsorName</p>
    </div>
    </div> *@


    <div class="progress " role="progressbar" aria-label="Animated striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%"></div>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-1-square"></i><span class="ms-1 text-primary">Add Sponsor</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Add Members</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Choose Benefit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Payment</a>
        </li>
    </ul>
    <!-- Navigation Tabs -->
    @* <ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link active" href="/SponsorDetails">Sponsor & Policy Details</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/MemberDetails">Member Details</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/ProductDetails">Product Details</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/Payment">Payment</a>
    </li>
    </ul> *@

    <!-- Form -->
    <form id="sponsorForm" method="post" action="@Url.Action("InsertQuotations", "GMQuotation")">
        <input type="hidden" name="BrokerId" value="@Model.BrokerId" />
        <input type="hidden" name="BrokerName" value="@Model.BrokerName" />
        <input type="hidden" name="BrokerTelephone" value="@Model.BrokerTelephone" />
        <input type="hidden" name="BrokerAddress" value="@Model.BrokerAddress" />
        <input type="hidden" name="BrokerEmail" value="@Model.BrokerEmail" />
        <input type="hidden" name="BranchName" value="@Model.BranchName" />

        <div class="row justify-content-center mt-4">
            <!-- Sponsor Edit -->
            <div class="col-md-8">
                @(await Html.PartialAsync("_SponsorEdit", gmQuotationsModel))
            </div>

            <!-- Policy Edit -->
            @* <div class="col-md-6">
            @(Html.Partial("_PolicyEdit", gmQuotationsModel))
            </div> *@

            <!-- Agent -->
            <div class="col-md-6">
                @(await Html.PartialAsync("_AgentDetails", gmQuotationsModel))
            </div>
        </div>
        <!-- Submit and Next Buttons -->
        <div class="container text-end">
            <div class="row m-sm-3">
                <!-- Back Button -->
                <div class="col-sm-6 col-xl-4 d-grid ms-auto mb-2">
                    <a href="@Url.Action("Login", "Account", new { agent_id })" class="btn btn-lg btn-outline-secondary">
                    @* <a href="@Url.Action("Login", "Account",agentId)" class="btn btn-lg btn-outline-secondary"> *@
                        <span>Back</span>
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
            <div class="row m-sm-3">
                <div class="col-sm-6 col-xl-4 d-grid ms-auto">
                    <button type="submit" class="btn btn-lg btn-outline-primary">
                        <span>Next Add Member</span>
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
