@model RetailPortal.Models.Members

<div class="card mt-4">
    <div class="card-header">Member Details</div>
    <div class="card-body">
        <div class="form-group">
            <label>Relation:</label>
            <p>@Model.Relation</p>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <p>@Model.FirstName</p>
        </div>
        <div class="form-group">
            <label>DOB:</label>
            <p>@Model.DOB</p>
        </div>
        <div class="form-group">
            <label>Mobile Number:</label>
            <p>@Model.MobileNumber</p>
        </div>
        <div class="form-group">
            <label>Gender:</label>
            <p>@Model.Gender</p>
        </div> 
        <div class="form-group">
            <label>Marital Status:</label>
            <p>@Model.MaritalStatus</p>
        </div>
        <div class="form-group">
            <label>Salary</label>
            <p>@Model.Salary</p>
        </div>
        <div class="form-group">
            <label>Height:</label>
            <p>@Model.Height</p>
        </div>
        <div class="form-group">
            <label>Weight:</label>
            <p>@Model.Weight</p>
        </div>
    </div>
</div>
