@model RetailPortal.Models.Preview

@*< style>
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        background-color: #fff;
        font-size: 16px;
        color: #495057;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path fill="gray" d="m7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
        cursor: pointer;
    }

        select:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

    .card-body {
        width: 100%;
        overflow-x: auto;
    }

    .header {
        display: none;
    }

    table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }

    th, td {
        white-space: nowrap;
        padding: 8px 10px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ddd;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    td {
        font-size: 14px;
    }

    .btn {
        padding: 4px 10px;
        font-size: 14px;
    }

    .btn-primary {
        margin-right: 5px;
    }
</style> *@

<style>
    .form-label {
        font-weight: bold;
    }

    .form-section {
        margin-bottom: 2rem;
    }

    .form-control[readonly] {
        background-color: #f8f9fa;
        border: none;
        box-shadow: none;
        padding-left: 0;
    }

    input.form-control,
    select.form-control,
    textarea.form-control {
        border: none; 
        border-radius: 0;
        border-bottom: 1px solid #ccc; 
        box-shadow: none;
    }

        input.form-control:focus,
        select.form-control:focus,
        textarea.form-control:focus {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid #007bff; 
        }

    h4 {
        border-bottom: 2px solid #dee2e6;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        color: #495057;
    }
</style>


<div>
    <h3 style="text-align:center;">Preview</h3>
</div>

@* <div class="card">
    <div class="card-body"> *@
        <!-- Quotation Table -->
       @*  <table class="table table-striped" id="quotationTable">
            <thead>
                <tr>
                    <th>Sponsor Name</th>
                    <th>Sponsor Email</th>
                    <th>Sponsor Phone</th>
                    <th>Sponsor Address</th>
                    <th>Sponsor City</th>
                    <th>Sponsor City</th>
                    <th>Sponsor Type</th>
                    <th>Region</th>
                    <th>Sub Region</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.QuotationDetails)
                {
                    <tr>

                        <td>@item.ParticipantName</td>
                        <td>@item.ParticipantEmail</td>
                        <td>@item.ParticipantTelephone</td>
                        <td>@item.ParticipantAddress</td>
                        <td>@item.ParticipantCity</td>
                        <td>@item.SponsorType</td>
                        <td>@item.Region</td>
                        <td>@item.SubRegion</td>

                    </tr>
                }
            </tbody>
        </table>
    </div> *@
    <!-- Quotation Table -->
    <div class="form-section">
    <h4>Quotation Details</h4>
    @foreach(var item in Model.QuotationDetails)
    {
        <div class="row mb-3 ">
            <div class="col-md-4">
                <label class="form-label">Sponser Name </label>
                <input type="text" class="form-control" readonly value="@item.ParticipantName" />
                </div>
      <div class="col-md-4">
                        <label class="form-label">Sponser Email </label>
                    <input type="text" class="form-control" readonly value="@item.ParticipantEmail" />
                    </div>
                         <div class="col-md-4">
                            <label class="form-label">Sponser Phone </label>
                        <input type="text" class="form-control" readonly value="@item.ParticipantTelephone" />
                    </div>
                         <div class="col-md-4">
                        <label class="form-label">Sponser Address </label>
                <input type="text" class="form-control" readonly value="@item.ParticipantAddress" />
                    </div>
                         <div class="col-md-4">
                        <label class="form-label">Sponser City </label>
                        <input type="text" class="form-control" readonly value="@item.ParticipantCity" />
                    </div>
                         <div class="col-md-4">
                        <label class="form-label">Sponser Type </label>
                        <input type="text" class="form-control" readonly value="@item.SponsorType" />
                    </div>
                         <div class="col-md-4">
                        <label class="form-label">Region</label>
                        <input type="text" class="form-control" readonly value="@item.Region" />
                    </div>
                     <div class="col-md-4">
                        <label class="form-label">SubRegion </label>
                    <input type="text" class="form-control" readonly value="@item.SubRegion" />
                </div>
     </div>

    }
</div>


    @* <div class="card-body"> *@
        <!-- Member Table -->
       @*  <table class="table table-striped" id="memberTable">
            <thead>
                <tr>
                    <th>Member Type</th>
                    <th>Relation</th>
                    <th>FirstName</th>
                    <th>Date Of Birth</th>
                    <th>Mobile Number</th>
                    <th>Gender</th>
                    <th>Marital Status</th>
                    <th>Salary Band</th>
                    <th>Height</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MemberDetails)
                {
                    <tr>
                        <td>@item.MemberType</td>
                        <td>@item.Relation</td>
                        <td>@item.FirstName</td>
                        <td>@item.DOB</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.Gender</td>
                        <td>@item.MaritalStatus</td>
                        <td>@item.SalaryBand</td>
                        <td>@item.Height</td>
                        <td>@item.Weight</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 *@

  <!-- Member Table -->
   <div class="form-section">
    <h4>Member Details</h4>
    @foreach (var item in Model.MemberDetails)
    {
            <div class="row mb-3 ">
                <div class="col-md-4">
                        <label class="form-label">Member Type </label>
                            <input type="text" class="form-control" readonly value="@item.MemberType" />
                    </div>
          <div class="col-md-4">
                                <label class="form-label">Relation </label>
                            <input type="text" class="form-control" readonly value="@item.Relation" />
                        </div>
                             <div class="col-md-4">
                                    <label class="form-label">FirstName </label>
                                <input type="text" class="form-control" readonly value="@item.FirstName" />
                        </div>
                             <div class="col-md-4">
                                <label class="form-label"> Date Of Birth </label>
                <input type="text" class="form-control" readonly value="@item.DOB" />
                        </div>
                             <div class="col-md-4">
                                    <label class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" readonly value="@item.MobileNumber" />
                        </div>
                             <div class="col-md-4">
                                <label class="form-label">Gender</label>
                                        <input type="text" class="form-control" readonly value="@item.Gender" />
                        </div>
                             <div class="col-md-4">
                                    <label class="form-label">Marital Status</label>
                                <input type="text" class="form-control" readonly value="@item.MaritalStatus" />
                        </div>
                         <div class="col-md-4">
                                <label class="form-label">Salary Band </label>
                            <input type="text" class="form-control" readonly value="@item.SalaryBand" />
                    </div>

                             <div class="col-md-4">
                                        <label class="form-label">Height </label>
                                    <input type="text" class="form-control" readonly value="@item.Height" />
                        </div>
                         
                         <div class="col-md-4">
                                    <label class="form-label">Weight </label>
                                <input type="text" class="form-control" readonly value="@item.Weight" />
                    </div>
                               </div>

    }
</div>

  @*   <div class="card-body">
        <!-- Product Table -->
        <table class="table table-striped" id="productTable">
            <thead>
                <tr>
                    <th>Annual Medical Limit</th>
                    <th>Plan Category Name</th>
                    <th>Benefit Name</th>
                    <th>Plan Type</th>
                    <th>Room Type</th>
                    <th>Display Copay Text</th>
                    <th>Premium Amount</th>
                    <th>Premium Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductDetails)
                {
                    <tr>
                        <td>@item.AggAnnualLimit</td>
                        <td>@item.PlanCategoryName</td>
                        <td>@item.BenefitName</td>
                        <td>@item.PlanType</td>
                        <td>@item.RoomType</td>
                        <td>@item.DisplayCopayText</td>
                        <td>@item.PremiumAmt</td>
                        <td>@item.PremiumPerc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> *@

 <!-- Product Table -->

  <div class="form-section">
    <h4>Product Details</h4>
    @foreach (var item in Model.ProductDetails)
    {
            <div class="row mb-3 ">
                <div class="col-md-4">
                        <label class="form-label">Annual Medical Limit </label>
                        <input type="text" class="form-control" readonly value="@item.AggAnnualLimit" />
                    </div>
          <div class="col-md-4">
                                <label class="form-label">Plan Category Name </label>
                            <input type="text" class="form-control" readonly value="@item.PlanCategoryName" />
                        </div>
                             <div class="col-md-4">
                                    <label class="form-label">Benefit Name </label>
                                <input type="text" class="form-control" readonly value="@item.BenefitName" />
                        </div>
                             <div class="col-md-4">
                                <label class="form-label">Plan Type </label>
                <input type="text" class="form-control" readonly value="@item.PlanType" />
                        </div>
                             <div class="col-md-4">
                                <label class="form-label">Room Type </label>
                                <input type="text" class="form-control" readonly value="@item.RoomType" />
                        </div>
                             <div class="col-md-4">
                                <label class="form-label">Display Copay Text </label>
                                <input type="text" class="form-control" readonly value="@item.DisplayCopayText" />
                        </div>
                             <div class="col-md-4">
                                <label class="form-label">Premium Amount</label>
                                <input type="text" class="form-control" readonly value="@item.PremiumAmt" />
                        </div>
                         <div class="col-md-4">
                                <label class="form-label">Premium Percentage </label>
                            <input type="text" class="form-control" readonly value="@item.PremiumPerc" />
                    </div>
         </div>

    }
</div>
